body, html {
	font-family: Arial;
	width: 100%;
}
img {
	border: none;
}
.search {
}
.menuwarning {
	font-size: 12px;
	border-radius: 6px;
	border: 1px solid #A9AEB2;
	background: #D8E1EA;
	border: 1px solid #a9aeb2;
	overflow: hidden;
	zoom: 1;
	text-align: center;
	/* height: 28px; */
	line-height: 14px;
	margin: 0 auto;
	padding: 0.625em 0px;
	/* padding-top: 2px; */
	margin-bottom: 10px;
}
.widgethead a:hover {
	text-decoration: underline;
}
.currnet {
	display: block;
	;
}
.currnet a:hover {
	text-decoration: underline;
}
.bgyellow {
	background: #faffbd !important;
	width: 66% !important;
	float: left;
}
.bgyellow2 {
	background: #faffbd !important;
}
.timed {
	font-weight: bold;
	font-size: 22px;
}
.zhusername {
	width: 66% !important;
	float: left !important;
}
.check {
	padding: 7px 12px !important;
	background-color: #5bc0de !important;
	border: solid 1px #4B9EB7 !important;
	border-radius: 0px 3px 3px 0px;
	margin-left: -6px;
}
.check:hover {
	background: #57B4D0 !important;
}
.clicklc {
	color: red;
	cursor: pointer;
}
.clicklc:hover {
	text-decoration: underline;
	color: red;
}
.pddate, .help-block {
	font-size: 12px;
	color: #9C9C9C;
}
.footer {
	text-align: right;
	padding: 10px 15px;
	border-top: solid 1px #EFEDED
}
.widget {
	background: white;
    border-radius: 6px 6px 0px 0px;
	margin: 0 auto 15px;
    box-shadow: 00px 3px 0px 0px #E2E2E2;
    position: relative;
}
.widgetbody {
	padding: 15px 15px 15px 15px;
	    overflow-x: auto;
}
.buyaibi {
	text-align: center;
	padding-top: 30px;
}
.apply-tips {
	text-align: center;
	color: red;
	font-size: 20px;
	padding-bottom: 10px;
}
.innertable table tr td {
	text-align: center;
	    padding: 12px 4px;
}
.chanagecenter {
	text-align: center;
	display: block;
}
.btnhelpput .col-md-12 .tab2, .btnhelpput .col-md-12 .tab1 {
	display: none;
}
.green{
    background: #343432;
    padding-left: 10px;
    padding: 12px 15px;	
    border-radius: 6px 6px 0px 0px;
    border: solid 1px #444444;
}
.orange{
    background: #343432;
    padding-left: 10px;
    padding: 12px 15px;
    border: solid 1px #343432;
    border-radius: 6px 6px 0px 0px;
}
.widgethead h4 b {
	font-size: 16px;
}
.totalm {
	text-align: right;
}
.ermenubg {
	background: #000 !important;
}
.ermenubg a {
	    color: #E9E9E9 !important;
	font-size: 14px !important;
}
.transparen {
	background-color: transparent !important;
	border: none !important;
	font-size: 14px !important;
}
.colorF {
	color: #939B9D !important;
}
.banner a {
	display: block;
	margin: 0 auto;
	cursor: pointer;
	margin-bottom: 50px;
}
.informationai {
	background: #003d74;
	color: white;
	padding: 20px 10px;
}
.banner .hot_product_img {
	margin-bottom: 10px;
}
.banner a img {
	width: 100%;
}
#put_help, #get_help {
	color: #FFFFFF;
	cursor: pointer;
	text-decoration: none;
	font-size: 24px;
}
#put_help i, #get_help i {
	font-size: 12px;
	font-style: normal;
}
#put_help div, #get_help div {
	padding: 10px 0px 0px 0px;
	min-height: 50px;
}
.ordin1_button {
    font-family: "微软雅黑";
    margin-bottom: 8px;
    font-size: 14px;
    color: white;
    padding: 4px 10px;
    background-color: #37CBF5;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #289BBB;
}
.ordin1_button, .ordinn_button {
	padding: 15px;
}
.match {
	background: white;
	border: solid 1px #d43f3a;
	border-radius: 3px;
	color: #d43f3a;
}
.ordinn_button {
    font-family: "微软雅黑";
    margin-bottom: 8px;
    font-size: 14px;
    color: white;
    padding: 4px 10px;
    background-color:#FF4F19;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border:solid 1px #D03B0D;
    -moz-box-shadow: 0px 1px 3px rgba(153, 070, 153, 0.5), inset 0px 0px 2px rgba(255, 255, 255, 1);
    /* -webkit-box-shadow: 0px 1px 3px #266026, inset 0px 0px 2px #319531; */
}
table {
	border-collapse: separate;
	border-spacing: 2px;
	border-color: gray;
	width: 100%;
	margin: 0 auto;
}
.trantslate {
	display: block;
	padding-bottom: 2PX;
	width: auto;
	text-align: center;
}
.trantslate1 {
	display: block;
	padding-bottom: 2PX;
	width: auto;
}
.trantslate4 {
	display: block;
	padding-bottom: 2PX;
	width: auto;
	font-size: 14px;
	color: #292ec0;
	margin-top: 15px;
	margin-left: 30%;
	padding-right: 30px;
}
.trantslate3 {
	display: block;
	padding-bottom: 2PX;
	width: auto;
	font-size: 14px;
}
.trantslate2 {
	display: block;
	padding-bottom: 2PX;
	width: auto;
	font-size: 12px;
	color: #000;
}
.ordin_button {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 8px;
    font-size: 14px;
    color: #050505;
    padding: 4px 10px;
    background: #37CBF5;
    background-repeat: repeat-x;
    border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border: 1px solid #289BBB;
    -moz-box-shadow: 0px 1px 3px rgba(153, 070, 153, 0.5), inset 0px 0px 2px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 1px 3px rgba(31, 85, 59, 0.7);
}
.ordin_button:active {
  background: #27ae69;
	top: 1;
	padding: 4px 10px;
}
.ordout_button {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 8px;
    font-size: 14px;
    color: #050505;
    padding: 4px 10px;
    background: #FF4F19;
    background-repeat: repeat-x;
    border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border: 1px solid #949494;
    -moz-box-shadow: 0px 1px 3px rgba(153, 070, 153, 0.5), inset 0px 0px 2px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 1px 3px #916B00, inset 0px 0px 2px #ECAE00;
    border: solid 1px #D03B0D;
}
.ordout_button:active {
  background: #0081ff;
	padding: 4px 10px;
	top: 1;
}
.ordout1_button {
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 8px;
	font-size: 14px;
	color: #050505;
	padding: 4px 10px;
	/*background: linear-gradient(to bottom, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 46%, rgba(248,181,0,1) 60%, rgba(251,223,147,1) 100%);*/
	background-image: url(../images/bg4.png);
	background-repeat: repeat-x;
	border-radius: 16px;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	border: 1px solid #949494;
	-moz-box-shadow: 0px 1px 3px rgba(153, 070, 153, 0.5), inset 0px 0px 2px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 1px 3px rgba(153, 070, 153, 0.5), inset 0px 0px 2px rgba(255, 255, 255, 1);
}
.ordoutt_button {
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 8px;
	font-size: 14px;
	color: #050505;
	padding: 4px 10px;
	/*	background: linear-gradient(to bottom, rgba(219,246,177,1) 0%, rgba(201,253,119,1) 46%, rgba(201,253,119,1) 60%, rgba(164,228,50,1) 100%);*/
	background-image: url(../images/bg3.png);
	background-repeat: repeat-x;
	border-radius: 16px;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	border: 1px solid #949494;
	-moz-box-shadow: 0px 1px 3px rgba(153, 070, 153, 0.5), inset 0px 0px 2px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 1px 3px rgba(153, 070, 153, 0.5), inset 0px 0px 2px rgba(255, 255, 255, 1);
	overflow: hidden;
}
.jycontent {
	margin: 0 auto;
}
.secceed {
	width: 36px;
	height: 36px;
	padding: 0px;
}
.secceed img {
	display: block;
	width: 100%;
}
.leftContent {
	float: left;
}
.centerContent {
	float: left;
	padding: 10px;
	width: 60%;
	margin-left: 6%;
}
.rightContent {
	float: right;
	font-size: 12px;
	color: #000;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	padding: 0px;
	width: 15%;
}
.centerContent02, .centerContent03 {
	background: url(../images/char-more.png);
	background-repeat: no-repeat;
	background-position: center right;
	font-size: 12px;
	color: #000;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	padding: 0% 12% 0% 0%;
	float: left;
	margin-top: 10px;
}
.btninfo {
	border: 1px solid #a19c88;
	border-radius: 10px;
	background: #e4e3e9;
	text-align: center;
	text-decoration: none;
	padding: 0px;
	margin: 0% auto;
}
.btninfo2 {
	border: 1px solid #a19c88;
	border-radius: 10px;
	background: #f4fff2;
	text-align: center;
	text-decoration: none;
	padding: 4px;
	margin: 20% auto;
}
.apply001 {
	overflow: hidden;
	padding: 6px;
}
#put_help div .ord_title {
	font-size: 14px;
	font-weight: bold;
	float: left;
	padding: 0px 0px 0px 30px;
	color: #000;
}
.apply001 img {
	display: block;
	float: left;
	margin-right: 10px;
}
#put_help .ord_body_info {
	font-size: 11px;
	padding: 6px;
	color: #000;
}
.apply003, .apply004 {
	text-align: right;
	font-size: 12px;
}
.apply003 a:hover {
	text-decoration: underline;
}
.apply004 a {
	border: 1px solid #989991;
	border-radius: 8px;
	background: #ffffff;
	padding: 2px 4px;
}
.MaFuluo {
	height: 30px;
	border-left: solid 2px #8e846b;
	border-right: solid 2px #8e846b;
	border-bottom: solid 2px #8e846b;
	line-height: 30px;
	padding-left: 10px;
	background: #FEEEBD;
}
.MaFuluo_btn {
	overflow: hidden;
	height: 30px;
	background: #efefef;
	line-height: 30px;/*	border-bottom:solid 1px #ccc;*/
}
.MaFuluo_btn_left {
	float: left;
	cursor: pointer;
}
.MaFuluo_btn_left a {
	border: solid 1px transparent;
	border-radius: 4px;
	padding: 3px 4px;
	margin-left: 10px;
}
.MaFuluo_btn_left a:hover {
	border: solid 1px #D19405;
	background: #fece2f;
}
.guoqi_lang a:hover {
	color: red;
}
.MaFuluo_btn_right {
	float: right;
}
table tr td a {
	cursor: pointer;
	text-decoration: underline;
}
table tr td a:hover {
	text-decoration: none;
}
.righeader {
	float: right;
	cursor: pointer;
}
.select_language>.addul {
	float: left;
	padding: 10px 0px;
}
.menuLi a:hover {
	border: solid 1px #d19405;
	background: #fece2f;
	border-radius: 5px;
}
.menuLi_active {
	background: #21052e;
}
.ermenu li a:hover {
	border: solid 1px #d19405;
	background: #fece2f;
	border-radius: 5px;
}
h1 {
	text-align: center;
	font-size: 26px;
	font-weight: bold;
	color: #333;
	padding-bottom: 5px;
}
.white_ban {
	width: 1000px;
	margin: 0 auto;
	background: white;
	border-radius: 6px;
	padding: 15px 30px;
}
.text_block .select {
	float: right;
	background: #ccc;
	border-radius: 6px;
	padding: 20px;
}
.text_block .select select {
	width: 150px;
	margin: 0 10px;
}
.text_block .select p {
	text-align: center;
	margin: 15px 0px 0px 0px;
}
.text_btn {
	overflow: hidden;
	padding: 50px 0px;
	clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
	width: 300px;
	margin: 0px 150px 0px 0px;
}
.date_color {
	color: #ff0000;
}
.ordout1_button {
	overflow: hidden;
}
.leftContent {
	margin-left: 10px;
	width: 12%;
}
#get_help div .centerContent01, #put_help div .centerContent01, #get_help div .centerContent02, #put_help div .centerContent02, #put_help div .centerContent03, #get_help div .centerContent03 {
	font-size: 12px;
	color: #000;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	padding: 0% 6% 0% 0%;
	float: left;
	margin-top: 10px;
}
#get_help div .centerContent04, #put_help div .centerContent04 {
	font-size: 12px;
	color: #000;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	padding: 0px;
	float: left;
	margin-left: 4%;
	margin-top: 10px;
}
.buyArea {
	margin: 0 auto;
	overflow: hidden;
}
.head {
	position: fixed;
	right: 0px;
	top: 0px;
	z-index: 9999;
	width: 100%;
	background: rgb(17, 17, 17);
}
.title3 {
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	background-image: url(../images/bg_005.png);
	width: 1000px;
	margin: 0 auto;
	border-radius: 6px 6px 0 0;
	text-indent: 6px;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	font-weight: bold;
}
.title4 {
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	background-image: url(../images/bg_006.png);
	width: 1000px;
	margin: 0 auto;
	border-radius: 6px 6px 0 0;
	text-indent: 6px;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	font-weight: bold;
}
.qingkuang {
	display: block;
	width: 1000px;
	margin: 0 auto;
	height: 80px;
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	margin-bottom: 12px;
}
.qk_01 {
	display: block;
	float: left;
	width: 25%;
	text-align: center;
	line-height: 22px;
	padding-top: 12px;
	font-weight: bold;
}
.qk_02 {
	display: block;
	float: left;
	width: 20%;
	text-align: center;
	line-height: 22px;
	padding-top: 12px;
	font-weight: bold;
}
.forth_block {
	width: 100%;
	overflow: hidden;
}
.forth_block li {
	float: left;
	/*    background: url(../images/content_bg.png) repeat;*/
	width: 20%;
	text-align: center;
}
.forth_block li:first-child {
	border-left: none;
}
.forth_block .img {
	-moz-transform: rotate(0deg);
	-moz-transition-duration: 1s;
	-ms-transform: rotate(0deg);
	-ms-transition-duration: 1s;
	-webkit-transform: rotate(0deg);
	-webkit-transition-duration: 1s;
	-o-transform: rotate(0deg);
	-o-transition-duration: 1s;
}
.forth_block li div img {
	margin-top: 10px;
}
.forth_block li h3, .forth_block li b {
	font-size: 18px;
	position: relative;
	height: 30px;
	margin-top: 10px;
	color: #F76E00;
	font-weight: bold;
}
.homebox2_warp .w1000 {
	padding-top: 20px;
}
.min_height {
	min-height: 265px;
	overflow: hidden;
	padding-bottom: 20px;
}
.homebox2_warp .w1000 .box1 {
	width: 100%;
	position: relative;
	z-index: 1;
	float: left;
}
.personinfo {
	background: url(../images/content_bg.png) repeat;/* min-height: 311px; */
}
personinfo thead tr th {
	padding-left: 20px;
	font-weight: bold;
	color: white;
	border-radius: 4px;
}
.box1 thead tr {
	height: 48px;
	line-height: 48px;
	border-bottom: solid 1px #00B6CF;
}
.box1 tbody tr {
	height: 42px;
	line-height: 42px;
	border-bottom: solid 1px #00B6CF;
}
.personinfo tbody tr td:first-child {
	width: 60%;
	text-indent: 20px;
}
.homebox2_warp .w1000 .box2 {
	width: 49%;
	position: relative;
	z-index: 1;
	float: right;
}
.orangee table thead th {
    background: #FF4F19;
    border: solid 1px #D03B0D;
    color: #F9F9F9;
    text-align: center;
        padding: 6px 0px;
}
.greenn table thead th {
    background: #37CBF5;
    border: solid 1px #289BBB;
    color: #F9F9F9;
    text-align: center;
        padding: 6px 0px;
}
.innertable table tbody td {
	border: solid 1px #e9e9e9;
}
.overplustime {
	color: #ff0f0f;
	font-weight: 600;
}
.credence {
	color: #448cca;
	text-decoration: none;
}
.liuyan {
	background: none;
	border: solid 2px #aedfee;
	border-radius: 4px;
	width: 78px;
	white-space: nowrap;
	margin-bottom: 2px;
	font-size: 12px;
	display: block;
}
.liuyan2 {
	background: none;
	border: solid 1px #d8d8d8;
	border-radius: 4px;
	width: 78px;
	white-space: nowrap;
	margin-bottom: 2px;
	font-size: 12px;
	display: block;
}
.liuyan3 {
	background: #003d74;
	color: white;
	box-shadow: inset 0px 2px 0px 0px #357ebd;
	padding: 4px 0px;
	border: solid 1px #d8d8d8;
	border-radius: 4px;
	width: 78px;
	white-space: nowrap;
	margin-bottom: 2px;
	font-size: 12px;
	display: block;
}
.redtable {
	    border: 1px solid #e0a501 !important;
}
.suretix {
	color: blue;
	text-decoration: none;
}
.headred {
	    background: #e0a501 !important;
}
.congratulate {
	color: #ff0000;
}
.infodifference {
	border: solid 2px #e2e2e2;
	border-radius: 4px;
	padding: 3px 2px;
	font-size: 12px;
}
/* p_number */

.p_number .f_l {
	float: left;
}
.p_number .add_chose {
	width: 100%;
}
.p_number .add_chose a {
	float: left;
	margin: 5px 0 0 0;
	display: block;
	width: 15px;
	height: 15px;
	line-height: 99em;
	overflow: hidden;
	background: url(../images/reduce-add.gif) no-repeat;
}
.p_number .add_chose a.reduce {
	background-position: 0 0;
}
.p_number .add_chose a.reduce:hover {
	background-position: 0 -16px;
}
.p_number .add_chose a.add {
	background-position: -16px 0;
}
.p_number .add_chose a.add:hover {
	background-position: -16px -16px;
}
.p_number .add_chose .text {
	float: left;
	margin: 0 5px;
	display: inline;
	border: solid 1px #ccc;
	padding: 4px 3px 4px 8px;
	width: 40px;
	line-height: 18px;
	font-size: 14px;
	color: #990000;
	font-weight: 800;
}
.p_number .buy {
	line-height: 2em;
}
.p_number .buy .total-font {
	font-family: Arial;
	font-size: 26px;
}
.p_number .buy .jifen {
	margin-left: 20px;
	color: #ACACAC;
}
.p_number .buy .jifen b {
	margin: 0 3px;
}
.fmenu {
/*	background: #343432;*/
/*	border-bottom: solid 2px #5C5C5C;*/
}
.fmenu ul li span {
font-size: 16px;
    display: block;
    text-align: center;
    padding: 25px 0px;
    color: #D32B2B;
    font-weight: 600;
}
.trantslate img{
	display: inline-block;
    margin-top: -10px;
    margin-right: 6px;
}
.green b{
    color: #37CBF5;
}
.orange b{
	    color: #FF4F19;
}
.kjpanel li{
	float:left;
	width:195px;
	text-align:center;
}
.kjpanel li img{
	width: 90px;
    text-align: center;
    margin: 0 auto;
}
.fmenu .kjpanel{
	overflow: hidden;
    padding: 25px 0px;
}
.fmenu .kjpanel span{
    color: #000000;
    padding: 0px;
}
.dashboard-tile.detail .circle-color1 {
    background: #92C763;
}
.dashboard-tile.detail .content {
    background: 0 0;
    display: inline-block;
    position: relative;
    z-index: 5;
    width: 40%;
    float: left;
}
.dashboard-tile .content {
    padding: 10px;
}
.dashboard-tile.detail .icon1{
	background:url(../images/icon.png) no-repeat center center;
}
.dashboard-tile.detail .icon1:hover{
	background:url(../images/icon11.png) no-repeat center center;
}
.dashboard-tile.detail .icon2{
	background:url(../images/icon2.png) no-repeat center center;
}
.dashboard-tile.detail .icon2:hover{
	background:url(../images/icon22.png) no-repeat center center;
}
.dashboard-tile.detail .icon3{
	background:url(../images/icon3.png) no-repeat center center;
}
.dashboard-tile.detail .icon3:hover{
	background:url(../images/icon33.png) no-repeat center center;
}
.dashboard-tile.detail .icon4{
	background:url(../images/icon4.png) no-repeat center center;
}
.dashboard-tile.detail .icon4:hover{
	background:url(../images/icon44.png) no-repeat center center;
}
.dashboard-tile.detail .icon5{
	background:url(../images/icon5.png) no-repeat center center;
}
.dashboard-tile.detail .icon5:hover{
	background:url(../images/icon55.png) no-repeat center center;
}
.dashboard-tile.detail .icon6{
	background:url(../images/icon6.png) no-repeat center center;
}
.dashboard-tile.detail .icon6:hover{
	background:url(../images/icon66.png) no-repeat center center;
}
.dashboard-tile.detail .icon {
    display: block;
    /* float: right; */
    height: 46px;
    margin-bottom: 10px;
    /* padding-left: 15px; */
    padding-top: 10px;
    /* width: 80px; */
    /* right: 40px; */
    bottom: 9px;
}
.dashboard-tile.detail, .dashboard-tile.header {
    position: relative;
    overflow: hidden;
}
.dashboard-tile {
     background-color: #000000;
    color: #555;
    margin-bottom: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.dashboard-tile.detail .textwb{
    margin-top: 6px;
    width: 58%;
    float: right;
    text-align: center;
	    color: #9CA2B4;
}
h2{
	font-size:24px;
}
.dashboard-tile.detail .circle-color1 {
    background: #92C763;
}
.dashboard-tile.detail .circle-color4 {
    background: #b9baba;
}
.dashboard-tile.detail .circle-color5 {
      background: #BF986C;
}
.dashboard-tile.detail .icon4 {
    background: url(../images/icon4.png) no-repeat center center;
}
.dashboard-tile.detail .icon6 {
    background: url(../images/icon6.png) no-repeat center center;
}
.span4-cmd{
	width: 33.33333333%;
	float: left;
}
.pad{
	padding:0px 15px;
}
.tile-red{
	border:solid 2px #92C763;
}
.tile-purple{
	border:solid 2px #b9baba;
}
.tile-purp{
	    border: solid 2px #BF986C;
}
#maincontent
{
    margin: 0 auto;
   }
@media(max-width:768px){
	.span4-cmd {
    width: 100%;
    float: left;
	    padding: 0px 15px;
}
.pad {
    padding: 0px 15px;
}
.kjpanel li {
    float: left;
    width: 33%;
    text-align: center;
}
.topmargin{
	padding-top:30px;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
	padding:0px 15px;
}
.jycontent {
    margin: 0 auto;
    padding: 0px 15px;
}
.btnhelpput{
	padding:0px 15px;
}
}
.cheeckbox
{
    float:left;
  }
#countSumSp
{
    color:White;
   }
.breadcrumb {
	margin-left: 19px;
	margin-right: 19px;
	overflow:hidden;
	margin-bottom:20px;
}
.breadcrumb  li{
	float:left;
	list-style:none;
}
.breadcrumb .input1{
	height:40px;
	width:100%;
	background:#4ebe67;
	border: solid 1px #41a558;
}
.input2{
	width:100%;
	height:40px !important;
	border:solid 1px #cccccc;
	text-indent:10px;
	line-height:40px;
	padding-left:6px !important;
}
.input3{
	width:100%;
	height:40px;
	background:#f37417;
	border: solid 1px #d46513;
}
