.pagination > li > a, .pagination > li > span
{
    position: relative;
    float: left;
    padding: 4px 10px;
    margin-left: -1px;
    line-height: 1.428571429;
    text-decoration: none;
    /*background-color: #fff;*/
    border: 1px solid #ddd;
    color: #ffffff;
}
.pagination > li
{
    display: inline;
    line-height: 20px;
}
.pagination > li.disabled a
{
    cursor: not-allowed;
}
.pagination > li.active a
{
    background-color: #428bca;
    border-color: #428bca;
    color: #fff;
}
#Pagination > ul
{
    margin: 0;
}
.pagination
{
    display: inline-block;
    padding-left: 0;
    border-radius: 4px;
}
.ui_table_control em
{
    display: block;
    float: left;
    width: 4%;
    height: 32px;
    line-height: 32px;
    text-align: center;
    position: relative;
    z-index: 2;
}
.ui_table_control
{
    border-top: 0;
    position: relative;
    margin-bottom: 15px;
    overflow: hidden;
}
.alert, .alert h4
{
    color: #c09853;
}
.alert
{
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px; /* text-shadow: 0 1px 0 rgba(255,255,255,0.5);*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#mempay .control .search
{
    float: right;
}
#mempay .control .search .ssubmit
{
    margin-left: 20px;
    float: right;
}
.btn-danger
{
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #da4f49;
    background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    border-color: #bd362f #bd362f #802420;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-success
{
    color: #fff; /*text-shadow: 0 -1px 0 rgba(0,0,0,0.25);*/
    background-color: #5bb75b;
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: -o-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
#mempay .control .pay
{
    float: right;
    margin-left: 20px;
}
.btn-primary
{
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #006dcc;
    background-image: -moz-linear-gradient(top, #08c, #04c);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#04c));
    background-image: -webkit-linear-gradient(top, #08c, #04c);
    background-image: -o-linear-gradient(top, #08c, #04c);
    background-image: linear-gradient(to bottom, #08c, #04c);
    background-repeat: repeat-x;
    border-color: #04c #04c #002a80;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
#mempay .control .search
{
    float: right;
}
.ui_table_control .pn
{
    float: left;
    text-align: left;
    display: inherit;
}
.pn > span
{
    padding: 6px 12px;
}
select, textarea, input[type="text"], input[type="password"]
{
    /*height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/

	    background: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-shadow: none;
    color: #fff;
    box-shadow: none;
    font-family: open-sans-regular;
    -webkit-appearance: none;
	height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
#mempay .control .select
{
    float: left;
}

